<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <fieldset>
        <form action="/search" method="post">
            <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
            <input type="submit" class="ghost-button" value="Search for Vendors Nearby">
        </form>
        <% if(elements !== null){ %>
            <ul>
                <h1><%= city %></h1>
                <% for(var i = 0; i < elements.length; i++) {%>
                        <% if (elements[i].city == city) {%>
                            <li class = "ghost-input"> Provider: <%= elements[i].org %> </li>
                            <ul>
                                <li class = "ghost-input"> Gear Type: <%= elements[i].supplyType %> </li>
                                <li class = "ghost-input"> Quantity: <%= elements[i].quantity %></li>
                                <li class = "ghost-input"> Price Per Item: <%= elements[i].ppi %></li>
                            </ul>
                        <% }%>
                    <% }%>
            </ul>
        <% } %>

        <% if(error !== null){ %>
            <p><%= error %></p>
        <% } %>
    </fieldset>
</div>
</body>
</html>